name: Metrics
on:
  schedule: [{cron: "0 */6 * * *"}]
  workflow_dispatch:
  push: {branches: ["main", "master"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ryu-ryuk
          template: classic
          config_timezone: Asia/Kolkata
          config_octicon: yes
          base: header, activity, community, repositories, metadata
          
          # Language stats - Modified to avoid the error
          plugin_languages: yes
          plugin_languages_limit: 6
          plugin_languages_categories: programming, markup
          plugin_languages_sections: most-used  # Removed recently-used to fix the error
          plugin_languages_threshold: 0%
          plugin_languages_ignored: html, css, scss
          plugin_languages_indepth: yes
          plugin_languages_colors: github
          
          # Lines of code history
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 4
          plugin_lines_sections: base
          
          # Notable contributions
          plugin_notable: yes
          plugin_notable_from: user
          plugin_notable_types: commit, pull_request, issue
          plugin_notable_repositories: yes
          
          # Forks
          repositories_forks: yes
